[Desktop Entry]
Version=1.0.0
Name=SharpMark
Comment=Fast Image Sharpness Analyzer and Culling Tool
Exec=SharpMark
Icon=sharpmark
Terminal=false
Type=Application
Categories=Graphics;Photography;Utility;